An estimate of 1 million Syrians are physically injured, and roughly 80,000 need prosthetic fittings to replace limbs lost to the war.

In the Undergraduate Interaction Design Department at California College of the Arts, we are exploring the growing refugee crisis and how products and services might be designed and leveraged for the continued migration of millions of people.

We are currently in the process of creating a universal training protocol that will exist in both paper and web format to help train people to fit prosthetics, with thorough considerations of the limitations refugees might face. By May 8th of 2018, we will deliver several physical and digital prototypes to help prosthetics patients to provide long-term self-care to themselves, with sufficient knowledge on prosthetics.

This is a team project created by <a href="http://nathanielsmith.io">Nathaniel Smith</a>, <a href="https://www.andreshurtadodesign.com/">Andres Hurtado</a>, <a href="http://jennifer-kim.com/">Jennifer Kim </a>, and <a href="http://www.weiweihsu.com/#/">Weiwei Hsu</a> in Undergraduate Interaction Design 4: Experience.
